@font-face {
    font-family: 'hack';
    src: url('hack.ttf') format('truetype');
}

* {
    font-family: 'hack';
    font-weight: 100;
    font-size: 11px;
}

html, body {
    margin: 0;
    padding: 0;
    background: #0f0f0f;
    color: #efefef;
}

a {
    color: #efefef;
    text-decoration: none;
}

#container {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}

#header {
    clear: both;
}

#title {
    padding: 0px 4px 0px 4px;
}

#nav {
    clear: both;
    padding: 4px 0px 4px 0px;
    overflow: hidden;
    border-bottom: 1px solid #3f3f3f;
}


.left {
    float: left;
    margin: 0;
    padding: 0;
}

.right {
    float: right;
    margin: 0;
    padding: 0;
}

#nav a {
    padding: 4px 4px 4px 4px;
}

#nav a:hover {
    background-color: #3f3f3f;
}

#content {
    overflow: hidden;
    padding: 0 0 30px 0;
    clear: both;
}

.links {
    list-style: none;
    width: 100px;
    padding: 0 25px 0 25px;
    margin: 0 0 0 0;
    float: left;
}

.links a {
    color: #6f6f6f;
}

.links a:hover {
    color: #efefef;
}
/*
.links .heading:not(:first-child) {
	margin-top: 15px;
}
*/
#footer {
	clear: both;
	overflow: hidden;
	border-top: 1px solid #3f3f3f;
	margin: 0 0 0 0;
	padding: 4px 0 4px 0;
	color: #7f7f7f
}
